/* :root {
    --nav-bg: rgba(255, 255, 255, .14);
    --nav-border: rgba(255, 255, 255, .35);
    --nav-text: #eef6f5;
    --nav-accent: #70f0cf;
    --nav-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    --radius: 16px;
} */

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 32%, rgba(127, 255, 212, 1) 94%);

}

.nav_holder {
    max-width: 1100px;
    margin-inline: auto;
    padding: 10px 16px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content:space-around;
}

.ombre {
    .ombre-image-container {
      width: 100%; /* Adjust as needed */
      height: 300px; /* Adjust as needed */
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('your-image.jpg');
      background-size: cover; /* Ensures the image covers the container */
      background-position: center; /* Centers the image */
      background-repeat: no-repeat; /* Prevents image repetition */
    } 
}

.link {
    color: rgb(0, 0, 0);
    font: 15px / 1.55 system-ui, -apple-system, Segoe UI, Roboto, Ariel, sans-serif;
}

.whitet {
    color: white;
}

.button {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.btn {
    color: white;
    /* background-color: aquamarine; */
    background-color: black;
    border-radius: 5px;
}