{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatable" content="IE-edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'Css/style.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
        <script type="module" src="{% static 'js/main.js' %}"></script>
        <title>{% block title %}TimeTo{% endblock %}</title>
    </head>
    <body>
        <header class="main-nav">
            <div class="nav-inner">
                <a href="{% url 'home' %}" class="logo">TimeTo</a>

                <nav class="primary-links">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'events' %}">Events</a></li>
                    {% endif %}
                </ul>
                </nav>

                <div class="auth-area">
                    {% if user.is_authenticated %}
                        <span class="hello">Hi {{ user.username }}!</span>
                        <form action="{% url 'logout' %}" method="post" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="btn logout-btn">Log out</button>
                        </form>
                    {% else %}
                        <a href="{% url 'signup' %}" class="btn signup-btn">Sign up</a>
                        <a href="{% url 'login' %}" class="btn login-btn">Log in</a>
                    {% endif %}
                </div>
            </div>
        </header>
        
        {% block content %}
        {% endblock content %}
    </body>
</html>
