{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatable" content="IE-edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'Css/style.css' %}"/>
        <title>{% block title %}TimeTo{% endblock %}</title>
    </head>
    <body>
        <div class=="ombre">
            <nav class="nav_holder">
                <ul>
                    <a href="{% url 'home' %}" class="link">Home</a>
                    <a href="{% url 'signup' %}" class="link">Sign Up</a>
                    {% if user.id == None %}
                    <a href="{% url 'login' %}" class="link">Log In</a>
                    {% else %}
                    <a href="{% url 'logout' %}" class="link">Log Out</a>
                    <a href="{% url 'events' %}" class="link">Events</a>
                    {% endif %}
                    
                </ul>
            </nav>
        </div>
        

        {{owner}}
        {% block content %}
        {% endblock content %}
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>

<!-- {% if user.id == None %} -->
 <!-- --show login- -->
  <!-- {% else %} -->
<!-- --show logout-- -->
 <!-- {% endif %} -->