{% extends 'base.html' %}
{% block content %}
<div class="parent-container">
    <div class="t-event-box">
        <div class="event-cont">
            <h1 class="event-card">Create A New Event</h1>
            <form id="form" class="event-s" action="{% url 'create_event' %}" method="post">
                {% csrf_token %}
                {{ event }}
                <div class="event-field">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>

                <div class="event-field">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>

                <div class="event-field">
                    {{ form.set_date.label_tag }}
                    {{ form.set_date }}
                    {{ form.set_date.errors }}
                </div>

                <div class="btn-center">
                    <button class="btn logout-btn" type="submit" id="event_button">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="event-container">
        {% for e in text %}
        <div class="event">
            <h3>{{ e.title }}</h3>
            <p>{{ e.until_event }} more days until {{ e.title }}.</p>
            <p> {{e.description}} </p>
            <button class="btn delete-btn"><a href="{% url 'delete' e.id %}" class="delete-btn-a">Delete</a></button>
        </div>
        {% empty %}
        <div class="event">
            <p>No events yet.</p>
        </div>
        {% endfor %}
    </div>
</div>

        <!-- <div class="b-event-box">
        <h2 class="event-card">Events</h2>
        <div class="right-text">
            <div class="left-text">
    <ul>
        {% for e in text %}
        <li>{{ e.title }} — until {{ e.until_event }} days</li>
                </div>
        </div>
        <a href="{% url 'delete' e.id %}" class="whitet">Delete</a>
        {% empty %}
        <li class="whitet">No events yet.</li>
        {% endfor %}
    </ul>
        </div>
        </div> -->



        
{% endblock content %}
